* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family:'Poppins', sans-serif;
}

:root {
    --tom-roxo: #1e1e2f;
    --tom-cinza: #f0f0f0;
}

body {
    background-color: var(--tom-cinza);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--tom-roxo);
    height: 85px;
    color: white;
    padding: 20px
}

header nav ul li a {
    text-decoration: none;
    color: white;

}

header nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

section#perfil {
    background-color: white;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.apre h1, p {
    padding: 10px
}
section#perfil img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
}
main {
    background-color: white;
    margin-top: 20px;
    border-radius: 20px;
}

div#projetos{
    display: flex;
}

section#contato {
    background-color: white;
    margin-top: 20px;
    border-radius: 20px;
}


footer{
    background-color: var(--tom-roxo);
    margin-top: 20px;
    border-radius: 20px;
    color: white;
    text-align: center;
}

div#redes {
    color: white;
}



